<template name="projectSubmit">
  <div class="row header-top">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">Simple Form: Basic Form</div>
        <div class="panel-body">
          <form class="main form page">
            

            <div class="form-group"><label class="control-label" for="name">Projektname</label>
            <input class="form-control" id="projectname" name="name" value="" placeholder="Projektnamen eintragen"></div>

            <div class="form-group"><label class="control-label" for="name">Jobnummer</label>
            <input class="form-control" id="jobNumber" name="jobnumber" value="" placeholder="job Nummer eintragen"></div>
            
           <div class="form-group"><label class="control-label" for="name">Rechnungssumme</label>
           <input class="form-control" id="amount" name="amount" placeholder="Rechnungssumme eintragen"></div>

            <input class="btn btn-default" name="commit" type="submit" value="Projekt erstellen">
          </form>
        </div>
      </div>
    </div>
  </div>
</template>